# Thư mục biên dịch của Eclipse
/bin/
*.class

# File cấu hình cá nhân của Eclipse
.settings/
.classpath
.project
.metadata/

# File tạm của hệ điều hành
.DS_Store
Thumbs.db

# Log file
*.log

# Package Files
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs
hs_err_pid*
replay_pid*